/*Products filter styles*/
ul.currentFilters a {
    color: green;
    padding-left: 22px;
    background-image: url('/themes/development/assets/close.png');
    background-repeat: no-repeat;
    background-position: 3px;
}
ul.currentFilters a:hover {
    text-decoration: underline;
}
ul.currentFilters li a.clearOptions {
    background-image: none;
    font-size: 12px;
    color: #08C;
}

ul.filters {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.filters li {
    padding: 2px 2px 2px 20px;
    cursor: pointer;
    color: #7A7A7A;
}
ul.filters li:hover {
    background-color: #E8E8E8;
}

/* Textbox quantity on product view page */
#quantity {
    margin-right:10px
}

/* Cart */
.cartTable tr td {
    padding: 5px;
}
.cartProductOptions {
    font-size:12px;
}