.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}


.grid-view
{
	padding: 0px;
}


.grid-view table thead th {
    /*border-radius: 5px;*/
}

.grid-view table.items
{
	/*background: white;*/
	border-collapse: collapse;
	width: 100%;
	border: 0px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	padding: 0.3em;
}

.grid-view table.items th:first-child {
   border-top-left-radius: 5px;
}
.grid-view table.items th:last-child {
   border-top-right-radius: 5px;
}

.grid-view table.items th
{
    color: #444;
    height: 27px;
    text-align: center;
    padding: 0px;
    font-weight:bold;
    zoom: 1;
}

.grid-view table.items th a
{
    color: #444;
    font-weight: bold;
    text-decoration: none;
}

.grid-view table.items th a:hover
{
    color: #666;
}

.grid-view table.items th a.asc
{
    background:url(up.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items th a.desc
{
    background:url(down.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items tr.even
{
    background: #F8F8F8;
}

.grid-view table.items tr.odd
{
    background: #E5F1F4;
}

.grid-view table.items tr.selected
{
    background: #BCE774;
}

/*.grid-view table.items tr:hover
{
    background: #ECFBD4;
}*/

.grid-view .link-column img
{
    border: 0;
}

.grid-view .button-column
{
    text-align: right;
    width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
    font-size:11px;
    padding:2px;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}

.gridViewOptions {
    float:left;
    position:absolute;
    margin-top:3px;
    right:15px;
    background-image:url('gear.png');
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    background-position:center center;
    cursor:pointer;
    z-index:100;
    border-top:1px solid transparent;
    border-left:1px solid transparent;
    border-right:1px solid transparent;     
}

.gridViewOptions.active {
    background-color:#EAEAEA;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
    border-top:1px solid silver;
    border-left:1px solid silver;
    border-right:1px solid silver;
}

.gridViewOptionsMenu {
    display:none;
    float:left;
    position:absolute;
    margin-top:23px;
    padding-top:3px;
    padding-bottom:3px;
    right:15px;
    min-width:100px;
    /*height:200px;*/
    background-color:#EAEAEA;
    cursor:pointer;
    border:1px solid silver;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topright: 0;
    border-radius: 5px;
    border-top-right-radius: 0;

    -moz-box-shadow: 3px 3px 4px silver;
    -webkit-box-shadow: 3px 3px 4px silver;
    box-shadow: 3px 3px 4px silver;
}

.gridViewOptionsMenu ul li {
    display: block; 
}
.gridViewOptionsMenu ul li a {
    padding:5px;
    display: block; 
    color:#444;
}
.gridViewOptionsMenu ul li a:hover {
    color:#309BBF;
    text-decoration:underline;
}