AddDefaultCharset UTF-8

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(favicon\.ico)
RewriteRule ^(.*)$ /index.php/$1 [L]

# otherwise forward it to index.php
# RewriteRule . index.php
