@charset "utf-8";

#content {
    overflow:hidden;
}

.catalog_with_sidebar {
    margin-top:20px;
}
.catalog_with_sidebar .products_list {
    margin-left:245px;
}

.products_list .actions {
    margin-bottom:20px;
}

.products_list .actions .buttons {
    float:right;
    margin-right:15px;
}

#filter {
    float:left;
    width:230px;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
}

#filter .rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
    margin-bottom:10px;
    background-color:#e9e9e9;
    box-shadow:2px 2px 2px #d1d0d0;
}

#filter .filter_header {
    color:#595959;
    font-weight:bold;
    font-size:14px;
}

#filter ul.filter_links {
    list-style:none;
    margin-bottom:20px;
}

#filter ul.filter_links a {

}
#filter ul.filter_links.current a {
    margin-left: -18px;
    padding-left: 20px;
    background:transparent url("../images/icons/close_sprite.png") no-repeat top left;
}

#filter ul.filter_links.current a:hover {
    background:transparent url("../images/icons/close_sprite.png") no-repeat bottom left;
}

#filter .light {
    color:#989898;
    padding-left:3px;
}

a.cancel_filter {
    font-size:11px;
    color:#989898;
    margin-left:20px;
}

#filter ul.filter_links li {
    padding-left:20px;
}