@charset "utf-8";

div.mainm {
    clear:both;
}
div.mainm ul {
    display: table-row;
}
div.mainm li {
    width: auto;
    display: table-cell;
    text-align: center;
    position:relative;
    height: 40px;
    padding-left: 2px;
    vertical-align: bottom;
}
div.mainm li:first-child {
    padding: 0;
}
div.mainm a {
    width: 1000px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;

    margin-top:12px;
    position:relative;
    color:#333333;
    text-decoration:none;
}
div.mainm a:hover {
    color:#fff;
}
div.mainm ul li {
    background:transparent url("../images/main_menu_bg.png") no-repeat top;
}
div.mainm ul li:first-child {
    background:transparent url("../images/main_menu_bg.png");
}
div.mainm ul li:last-child {
    background:transparent url("../images/main_menu_bg.png") right top;
}
div.mainm ul li:hover {
    background:transparent url("../images/main_menu_bg.png") no-repeat;
    background-position:center -80px;
}
div.mainm ul li:first-child:hover {
    background-position:left -80px;
}
div.mainm ul li:last-child:hover {
    background-position:right -80px;
}

/** menu module **/
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.dropdown {
    position: relative;
    z-index: 597;
    float: left;
}

ul.dropdown li {
    vertical-align: middle;
    zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}

ul.dropdown ul li {
    float: none;
}

ul.dropdown ul ul {
    top: 1px;
    left: 99%;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

/** menu theme **/
ul.dropdown ul {
    border:1px solid #cccccc;
    border-top:3px solid #1874ca;
    background-color:#fff;
    width:200px;
    padding:0 0 22px 0;

    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}

ul.dropdown ul a {
    color:#146ac0;
}

ul.dropdown ul a:hover {
    color:#ff3333;
    text-decoration:underline;
}

ul.dropdown li ul li,
ul.dropdown li ul li:first-child,
ul.dropdown li ul li:last-child,
ul.dropdown li ul li:hover
{
    height:25px;
    display:block;
    text-align:left;
    background:transparent none;
    padding-left:20px;
}

ul.dropdown ul ul {
    margin:10px 0 0 -30px;
}